<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{title}}</title>
  <meta name="description" content="a test app!">
  <meta name="author" content="Elliot Hatch">

  <link rel="stylesheet" href="/styles.css">
</head>

<body>
	<h1><a href="/">a test!</a></h1>
	{{{contents}}}
	<script src="/js.cookie.js"></script>
	<script src="/lib/quick-link.js"></script>
</body>
</html>
