<h1>A story about {{category}}</h1>
<h2>Part {{part}}</h2>
<p>{{story}}</p>

{{#previousPart}}
	<a href="/story/{{category}}/{{value}}">previous page</a>
{{/previousPart}}
<a href="/story/{{category}}/{{nextPart}}">next page</a>
